
.control {
    background-color: beige;
    height: 50px;
    padding: 15px 30px;
}

    .control.header {
        position: fixed;
        z-index: 1;
    }

.container {
    margin-top: 50px;
}

.result-cell {
    height: 300px;
    padding: 10px;
}

    .result-cell .index {
        position: absolute;
        bottom: 0;
    }

.match-parent {
    height: 100%;
}

    .match-parent img {
        height: 100%;
    }

button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
