<!DOCTYPE html>
<html>
<head>
    <title>Movies search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="Controller.js"></script>
</head>
<body ng-app="imdbScanner" ng-controller="ctrl">
    <div class="control header col-xs-12">
        <form ng-submit="searchMovies()">
            <input type="text" ng-model="freeText" name="freeText" placeholder="input text.." />
            <input type="submit" value="Submit" />
        </form>
    </div>
    <div class="container col-xs-12">
        <div ng-repeat="movie in allMovies" class="col-sm-6 result-cell">
            <div class="col-sm-4 match-parent">
                <a href="https://www.imdb.com/title/{{movie.imdbID}}" target="blank">{{ movie.Title }}</a>
                <div> {{ movie.Year }} </div>
                <div class="index">{{$index}} out of {{numOfResults}}</div>
            </div>
            <div class="col-sm-8 match-parent" ng-click="getMovieDetails(movie.imdbID)">
                <img ng-src={{movie.Poster}} />
            </div>
        </div>
    </div>
    <div class="control col-xs-12" ng-show="allMovies.length > 0">
        <button ng-click="loadMore()" ng-disabled="allMovies.length >= numOfResults">Load More</button>
    </div>
    <script type="text/ng-template" id="modalDetails.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
            {{details.Title}}
            <br>
            {{details.Year}}
        </div>
        <div class="modal-body">
            Rated: {{details.Rated}}
            <br>Released: {{details.Released}}
            <br>Runtime: {{details.Runtime}}
            <br>Genre: {{details.Genre}}
            <br>Director: {{details.Director}}
            <br>Writer: {{details.Writer}}
            <br>Actors: {{details.Actors}}
            <br>Plot: {{details.Plot}}
            <br>Language: {{details.Language}}
            <br>Country: {{details.Country}}
            <br>Awards: {{details.Awards}}
            <br><img ng-src={{details.Poster}} />
            <div ng-repeat="rating in details.Ratings">{{rating.Source}} - {{rating.Value}} </div>
            Metascore: {{details.Metascore}}
            <br>imdbRating: {{details.imdbRating}}
            <br>imdbVotes: {{details.imdbVotes}}
            <br>DVD: {{details.DVD}}
            <br>BoxOffice: {{details.BoxOffice}}
            <br>Production: {{details.Production}}
            <br>
            <a href="{{details.Website}}" target="blank">official website</a>
        </div>
    </script>
</body>
</html>